body {
    margin: 0;
    background: #dedede;
    height: 100vh;
  }

 .main-header {
	background: #333;
	color: white;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}	
	.main-header a {
		color: white;
	}
 
/*
 * Logo
 */
.logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	.logo-header:hover {
		color: #0b76a6;
	}
	
	.logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	.logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	 
/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
    padding-right: 20px;
    display: flex;
    justify-content: space-around;
	}
	
nav ul li {
	display: inline-block;
	line-height: 80px;
		}
			
nav ul li a {
		display: block;
		padding: 0 10px;
		text-decoration: none;
		}
			
nav ul li a:hover {
		background: #0b76a6;
		}

  .gameboard {
    height: 60vh;
    width: 60vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
    padding: 0px;
  }

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    background: #22a6b3;
  }

  .celeste.light {
    background: #7ed6df;
  }

  .violeta {
    background: #be2edd;
  }

  .violeta.light {
    background: #e056fd;
  }

  .naranja {
    background: #f0932b;
  }

  .naranja.light {
    background: #ffbe76;
  }

  .verde {
    background: #6ab04c;
  }

  .verde.light {
    background: #badc58;
  }

  .btn-start {
    width: 400px;
    height: 100px;
    background: #f7edfa;
    color: #502c4e;
    font-size: 2.5rem;
    position: absolute;
    top: calc(45% - 50px);
    left: calc(50% - 200px);
  }

  .hide {
    display: none;
  }

  * {
    font-family: 'Arial';
  }